.row
	.col-md-2.col-xs-2
		%h1 New Food
		= render 'form'
	.col-md-2.col-xs-2
		%h3 New Producer
		= render 'producer_form'
		%br/
		%h3 New Unit
		= render 'unit_form'

%br/
.row
	= link_to 'Back', foods_path
